@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1 style="padding-left: 190px">Welcome to Admin Login</h1>
        <h2 style ="padding-left: 300px">Login here ONLIY IF you are admin</h2>
    </div>
    <div class="row">
            
            
            @using (Html.BeginForm("check", "Admin", FormMethod.Post, null))
            {
                <div class="form-group">
                    <label style="font-size: 25px; padding-left: 510px"for=" usr">User Name</label>
                    <div style="padding-right: 300px; padding-left: 300px">
                        <input type="text" class="form-control" id="name" name="name" required="required">
                    </div>
                         </div>
                <div class="form-group">
                    <label style="font-size: 25px; padding-left: 517px" for="pwd">Password</label>
                    <div style="padding-right: 300px; padding-left: 300px">
                        <input type="password" class="form-control" id="pwd" name="pwd" required="required">
                    </div>
                    <br/>
                </div>
    <div class="form-group">
        <div style="padding-left: 533px">
            <button style="font-size: 25px" type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
            }
            
            

        </div>
 
    </div>
