@{
    ViewBag.Title = "addItem";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div style="background-color: yellow;  padding-left: 370px; padding-top: 4px; padding-bottom: 2px">
    <h4 style="font-size: 35px">Click on the theater you want to reset seats status of:</h4>
</div>
<br />

<div style=" padding-left: 200px">
    <a href="~/Admin/Reset1"><button style="font-size: 30px" class="btn btn-default"> Reset Theater 1 seats</button> </a>
    <a href="~/Admin/Reset2"><button style="font-size: 30px" class="btn btn-default"> Reset Theater 2 seats</button> </a>
    <a href="~/Admin/Reset3"><button style="font-size: 30px" class="btn btn-default"> Reset Theater 3 seats</button> </a>
    <br /><br /><br />
    
</div>