<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
    <div>
        <h3 style="padding-left: 220px"> To confirm your booking , Write your Paypal Address below and press Submit.</h3>
        <div style="padding-left: 570px">
            <input type="text" />
            <br />
            <a href="~/User/booktheater3/@ViewBag.id"><input style="padding-left: 43px" type="button" class="btn btn-default" id="b1" value="Submit" /></a>
            <a href="~/User/theater3"><input type="button" class="btn btn-default" id="b2" value="Cancel" /></a>
        </div>
    </div>
</body>
</html>
